.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.image-gallery img {
  width: 150px;
  height: 150px;
  margin: 5px;
  border-radius: 5px;
  display: none; /* Hide all images in the gallery by default */
}

/* Show the first image by default */
.image-gallery img:first-child {
  display: block;
}

/* Horizontal Containers */
.horizontal-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  flex-basis: calc(50% - 20px); /* Set the containers to take half of the available space with margin */
}

.horizontal-container img {
  width: 150px; /* Make the image responsive to its container */
  height: auto; /* Preserve the aspect ratio of the image */
  margin-bottom: 5px; /* Add some space between the image and the content */
  margin-right: 10px;
}

.slideshow-buttons {
  display: flex;
  justify-content: center;
  margin-top: 3px;
}

.slideshow-buttons button {
  margin: 0 5px;
}

.horizontal-container .horizontal-text {
  flex: 1; /* Allow the text content to take the remaining space */
}

.horizontal-container h4,
.horizontal-container p {
  margin: 10px; /* Remove default margins for the header and paragraph */
}

.companyTitle {
  font-size: 35px;
}

.role {
  font-size: 20px;
  color: grey;
}